In [39]:
import requests
import time
import tqdm
import pandas as pd
import os
import json
import openpyxl 
from pathlib import Path
from zipfile import ZipFile
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from numpy import NaN
import seaborn as sns

In [40]:
fp_data = Path.cwd() / "data" 
Path.mkdir(fp_data, exist_ok=True)  
print(fp_data)

C:\Users\Bruger\OneDrive\Dokumenter\GitHub\isds2023\assignments\Exam project\data

In [41]:
def construct_link(table_id, variables):
    base = f'https://api.statbank.dk/v1/data/{table_id}/JSONSTAT?lang=en'
    
    for var in variables:
        base += f'&{var}'

    return base 

construct_link('MPK3', ['Tid=*', 'Type=5500602011'])

'https://api.statbank.dk/v1/data/MPK3/JSONSTAT?lang=en&Tid=*&Type=5500602011'

In [42]:
#API FOR loan interest rate 
#It refers to the interest rate that banks and financial institutions charge for lending money to individuals, businesses, and other institutions.
url = construct_link('MPK3', ['Tid=*', 'Type=5500602011'])

def create_data(url):
    response = requests.get(url).json()
    values = response['dataset']['value']
    years = response['dataset']['dimension']['Tid']['category']['index']
    data = dict(zip(years, values))
    return data

Interest_rate = create_data(url)

interest_rate_df = pd.DataFrame(Interest_rate.items(), columns=['Year', 'Loan interest rate']).dropna()

In [43]:
#API for consumer price index 
url = construct_link('PRIS111', ['Tid=*', 'VAREGR=000000', 'Enhed=100'])

def create_data(url):
    response = requests.get(url).json()
    values = response['dataset']['value']
    years = response['dataset']['dimension']['Tid']['category']['index']
    data = dict(zip(years, values))
    return data

Consumer_price_index = create_data(url)
Consumer_price_index_df = pd.DataFrame(Consumer_price_index.items(), columns=['Year', 'Consumer Price Index']).dropna()

In [44]:
#"Net Price Index." This index measures the change in the prices of goods and services excluding taxes, tariffs, and subsidies. 
#It focuses on the underlying price changes of products and services before the impact of government policies, 
#such as taxes and subsidies, is taken into account. 

url = construct_link('PRIS116', ['Tid=*', 'Type=*'])

def create_data(url):
    response = requests.get(url).json()
    values = response['dataset']['value']
    years = response['dataset']['dimension']['Tid']['category']['index']
    data = dict(zip(years, values))
    return data

net_price_index = create_data(url)
# Create a DataFrame
net_price_index_df = pd.DataFrame(net_price_index.items(), columns=['Year', 'Salary']).dropna()

In [45]:
#API for salary (this one is quarterly) 

url = construct_link('SBLON1', ['Tid=*', 'BRANCHE07=*', 'VARIA1=100', 'SEKTOR=1000'])
def create_data(url):
    response = requests.get(url).json()
    values = response['dataset']['value']
    years = response['dataset']['dimension']['Tid']['category']['index']
    data = dict(zip(years, values))
    return data

salary_data = create_data(url)

# Create a DataFrame
salary_df = pd.DataFrame(salary_data.items(), columns=['Year', 'Salary']).dropna()

https://api.statbank.dk/v1/data/NKN1/JSONSTAT?lang=en&Tid=*&SON=Y&PRISENHED=LKV_M&TRANSAKT=B1GQK

In [53]:
#API for GDP (are we in an economic boom --> could maybe create a binary variable with a yes or no) 
#chose to use chained values because account for changes in price levels over time, making them suitable for comparing economic 
#data across different time periods while adjusting for inflation or deflation. This is important because GDP and housing prices 
#can be affected by changes in the general price level, and using chained values helps to isolate the real changes in these variables.

url = construct_link('NKN1', ['Tid=*', 'S%C3%86SON=*', 'PRISENHED=LKV_M', 'TRANSAKT=B1GQK'])

def create_data(url):
    response = requests.get(url).json()
    values = response['dataset']['value']
    years = response['dataset']['dimension']['Tid']['category']['index']
    data = dict(zip(years, values))
    return data

gdp= create_data(url)
gdp_df = pd.DataFrame(gdp.items(), columns=['Year', 'Salary']).dropna()
gdp_df

       Year  Salary
0    1990K1   318.9
1    1990K2   328.5
2    1990K3   316.4
3    1990K4   324.9
4    1991K1   321.9
..      ...     ...
128  2022K1   547.5
129  2022K2   572.5
130  2022K3   561.8
131  2022K4   590.4
132  2023K1   558.0

[133 rows x 2 columns]